<div class="card col-md-12">
    <div class="card-body">
        <div> 
        <h3> Room Details</h3>

        <hr>
        <h6>All Rooms Details</h6>
        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2 float-right"
        [routerLink] = "'/add-room'"><i class="fa fa-plus"></i> Add Room</button>
        <p class="card-title-desc">Below table shows hotel room full details</p>

       
        </div>
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>Room Name</th>
                        <th>Room Type</th>
                        <th>Room Number</th> 
                        <th>Room Price</th> 
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let room of rooms$ | async; let i=index">
                            <tr>
                                <!-- *ngFor="let room of Rooms; let i = index" -->
                                <td>{{i+1}}</td>
                                <td> {{room.roomname}}</td>
                                <td>{{room.roomnumber}}</td>
                                <td>{{room.roomtype}}</td>
                                <td>{{room.roomprice}}</td>
                                <td>
                                    <a>
                                        <i class="fa fa-eye" title="View" style="color: rgb(24, 83, 244, 83, 24);" ></i>
                                    </a>

                                    <a>
                                        <i class="fa fa-edit" title="Edit" style="color:rgb(18, 18, 82)"></i>
                                    </a>

                                        <i class="fa fa-trash" title="Delete" style="color:rgb(77, 20, 20)"></i>
                                </td>
                            </tr>
                    
                </tbody>
            </table>
        </div>
        
            
    </div>
  </div>
